/META.yml
/MYMETA.yml
/META.json
/MYMETA.json
/Makefile
/Makefile.old
/MANIFEST
/MANIFEST.bak
/Build
/blib/
/pm_to_blib
/.build
/_build
.*
!.gitignore
*.bs
*.c
*.o
cover_db
*.gc??
nytprof*
/Class-Load-*
